<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Filestore</h1>
    <p class="lead"></p>
    <p class="lead">
      <%= link_to  "Learn more", new_user_session_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>
</div>
