<h1>Editing Document</h1>
<%= render 'form', document: @document %>
<%= link_to 'Show', @document, class:"btn btn-light btn-lg" %> |
<%= link_to 'Back', documents_path, class:"btn btn-secondary btn-lg" %>
